{% extends "diseno.html" %}
{% block content %}
    <div class="w-100">
        <h2 align="center" class="mb-5">Team</h2>

      <table width="100%" border="1px solid">
        <tr>
            <td width="33%">
              <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="resume-content">
                  <h3 class="mb-0"> img </h3>
                  <div class="subheading mb-3">Javier Barreda</div>
                </div>
              </div>

            </td>
            <td width="33%">
              <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="resume-content">
                  <h3 class="mb-0"> img </h3>
                  <div class="subheading mb-3">Humberto Bernal</div>
                </div>
              </div>

            </td>

            <td width="33%">
              <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="resume-content">
                  <h3 class="mb-0"> img </h3>
                  <div class="subheading mb-3">Amaru Escalante</div>
                </div>
              </div>

            </td>
        </tr>
      </table>
        <h2 align="center" class="mb-5">SpinOut Workshop: How to make a Startup?</h2>
          <p>Aqui van imágenes</p>
        <h2 align="center" class="mb-5">UTEC Ventures Incubator Program</h2>
          <p>Aqui van imágenes</p>
        <h2 align="center" class="mb-5">Hult Prize Experience</h2>
          <p>Aqui van imágenes</p>
        <h2 class="mb-5"> Now </h2>
          <p>Aqui van imágenes</p>
      </div>
{% endblock content %}
