{% extends "diseno.html" %}
{% block content %}
    <div class="w-100">
        <h2 align="center" class="mb-5"> ¿No estamos en tu universidad? </h2>

        <table width="100%" border="1px solid">
        <tr>
            <td width="33%">
              <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="resume-content">
                  <h3 align="center" class="mb-0"> Información </h3>
                  <pre></pre>
                  <div class="subheading mb-0"> Email:
                    <a href="mailto:lutekedu@gmail.com">lutekedu@gmail.com</a>
                    <pre></pre>
                    Tel: 974 895 677
                  </div>
                </div>
              </div>
            </td>
            <td width="33%">
              <pre>

              </pre>
            </td>

            <td width="33%">
              <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
                <div class="resume-content">
                  <h3 align="center" class="mb-0"> Servicio al cliente </h3>
                  <pre></pre>
                  <div class="subheading mb-0"> Email:
                    <a href="mailto:lutekedu@gmail.com">lutekedu@gmail.com</a>
                    <pre></pre>
                    Tel: 963 614 830
                  </div>
                </div>
              </div>
            </td>
        </tr>
      </table>

      </div>
{% endblock content %}
