{% extends "diseno.html" %}
{% block content %}
    <div class="w-100">
        <h1 class="mb-0">Learn to
          <span class="text-primary">Teach</span>
        </h1>
        <pre>


        </pre>
        <button type="button" class="btn btn-primary btn-lg btn-block">Aprender</button>
        <button type="button" class="btn btn-secondary btn-lg btn-block">Enseñar</button>
        <pre>


        </pre>
        <p class="lead mb-5">"If you want to master something, teach it"</p>
        <div class="social-icons">
          <a href="https://github.com/mateonoel2">
            <i class="fab fa-github"></i>
          </a>
          <a href="https://www.facebook.com/profile.php?id=1471822139&ref=bookmarks">
            <i class="fab fa-facebook-f"></i>
          </a>
        </div>
      </div>
{% endblock content %}